@import url(fonts.css);
/* TOPOGRAPHY */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#nav {
  width: 100%;
  height: 145px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 0 150px;
  z-index: 100;
}
#nav h4 {
  text-transform: uppercase;
}

#nav img {
  height: 75px;
}

#cursor {
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  /* transition: all linear 0.5s; */
}
#cursor-blur {
  z-index: 9;
  width: 500px;
  height: 500px;
  background-color: #96c11e49;
  border-radius: 50%;
  position: fixed;
  filter: blur(40px);
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  /* position: absolute; */
  position: fixed;
  z-index: -1;
}
/* -----------------------MAIN SECTION----------------------------- */
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
/* ---------------PAGE1-------------- */
#page1 {
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page1 h1 {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  position: relative;
}
#page1 h1::before {
  content: "Eat. Drink. Play.";
  position: absolute;
  z-index: -1;
  color: black;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 2px #95c11e;
}
#page1 h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
}
#page1 p {
  font-weight: 400;
  width: 40%;
  font-size: 20px;
  color: white;
}

/* ----------PAGE2------------ */
#page2 {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#scroller {
  display: inline-block;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
.scroller-in {
  display: inline-block;
  /* white-space: nowrap; */
  animation-name: scroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroller h4 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 130px;
  margin-right: 20px;
  color: transparent;
  font-family: "Gilroy", "sans-serif";
  font-weight: 800;
  color: black;
  -webkit-text-stroke: 1px #95c11e;
  transition: all linear 0.5s;
}
#scroller h4:hover {
  color: #95c11e;
}

/* scroll animations */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  text-align: center;
  padding: 0 100px;
  margin-top: 150px;
  z-index: 10;
  position: relative;
}
#about-us img {
  width: 220px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
#about-us-in {
  max-width: 50%;
}
#about-us-in h3 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 900;
  color: white;
}
#about-us-in p {
  line-height: 30px;
  font-size: 24px;
  color: white;
}

/* img card */

#card-container {
  margin-top: 10vh;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: relative;
  margin-bottom: 100px;
}
#card-container img {
  width: 250px;
  position: absolute;
  top: 0;
  left: 55px;
  z-index: 9;
}

.card {
  border-radius: 20px;
  width: 25%;
  height: 80%;
  background-size: cover;
  z-index: 10;
  position: relative;
}
.card:hover {
  transform: rotate3d(0.5, 0.5, 0, 15deg);
  transition: all ease-in 0.2s;
}
#card1 {
  background-image: url(../assets/hero-4-1024x1024.avif);
}
#card2 {
  background-image: url(../assets/home-lessons-1024x682.avif);
}
#card3 {
  background-image: url(../assets/home-toptracer-1024x682.avif);
}

.overlay {
  background-color: #95c11e;
  width: 100%;
  height: 100%;
  padding: 20% 5%;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
}
.card .overlay:hover {
  opacity: 1;

  transition: all linear 0.2s;
}
.overlay h4 {
  color: black;
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overlay p {
  line-height: 28px;
}

#offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  background: linear-gradient(to bottom right, #95c21e, #5d9f3c);
  z-index: 10;
  position: relative;
}
#offer img {
  height: inherit;
  width: 200px;
  object-fit: cover;
}
#offer h4 {
  color: black;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  /* color: white; */
}
#page3 {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
#page3 img {
  width: 100px;
  position: absolute;
}
#colon-left {
  top: 20%;
  left: 15%;
}
#colon-right {
  bottom: 20%;
  right: 15%;
}
#page3 p {
  width: 60%;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: white;
}
/* ---------------PAGE4--------------- */

#page4 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  z-index: 10;
  position: relative;
}
#page4 h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: #95c11e;
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all ease 0.5s;
}
#page4 > h2 {
  font-size: 108px;
  font-weight: 800;
  color: black;
  position: absolute;
  z-index: 9;
  top: 12%;
  font-family: "Gilroy";
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
}
#page4 .card-container {
  z-index: 10;
  position: relative;
  width: 25%;
  height: 40%;
  border-radius: 20px;
}
.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
#page4 h4:hover {
  background-color: transparent;
  color: white;
}

/* ----------FOOTER-------- */
#footer {
  height: 45vh;
  background: linear-gradient(to bottom right, #95c21e, #5d9f3c);
  text-transform: uppercase;
  position: relative;
  z-index: 10;

}
#footer-dot-img {
  z-index: 8;
  top: 10%;
  left: -10%;
  position: absolute;
  width: 40%;
  height: 90%;
}
#footer-logo {
  width: 130px;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
/* #footer h2{
  color: black;
} */
#footer h2,
p {
  color: black;
  transition: all ease 0.4s;
}
#footer h2:hover{
  color:#fff
}


#footer-links {
  color: black;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
#footer-links h2 {
  font-size: 28px;
  font-weight: 900;
}
#footer-links p {
  font-size: 20px;
  font-weight: 600;
}
#footer-links > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#copyright {
  display: flex;
  justify-content: center;
  gap: 20%;
}
#copyright p {
  font-weight: 500;
  font-size: 14px;
  transition: all ease 0.4s;
}
#copyright p:hover{
  color: #fff;
}
